//
//  Secret.xcconfig
//  Duckmelang
//
//  Created by 주민영 on 7/17/25.
//

// Configuration settings file format documentation can be found at:
//https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

NATIVE_APP_KEY = 852ae417dc47397454350338f8415854
FIREBASE_APP_KEY = app-1-969161568991-ios-db820dc4187c6e5d0d6f6a
